#employee-list-container {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  #list-container {
    width: 100%;
    #item-header {
      display: flex;
      flex-flow: row nowrap;
      padding: 20px 0 0 0;
      .item-header-item {
        width: 25%;
        text-align: center;
      }
    }
    .list-items {
      border: 1px solid rgb(225, 225, 225);
      padding: 20px 0;
      margin: 5px 20px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: baseline;
    }
    .list-items > div {
      // border: 1px solid orange;
      width: 25%;
      text-align: center;
    }
  }
}
